html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif !important;
    display: flex;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

*:focus, header a:focus img {
    outline: none !important;
    box-shadow: 0 0 3pt 2pt orange !important;
}

.tagButton {
    border: none !important;
}

h2, h3 {
    margin-left: 0 !important;
    font-weight: 500 !important;
    line-height: 1.1 !important;
    color: #337ab7 !important;
    margin-bottom: 0.7em !important;
}